<main id="main" style="color: black; width: 80%; margin: auto;">
  <h1 style="color: rgb(22, 69, 97);text-align: center;">Nos Services</h1>
  <hr/>
  <section id="portfolio" class="portfolio">
    <div class="container">

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app" style="border: rgba(11, 120, 192, 0.404) solid 3px; border-radius: 10px;padding: 3px;min-height: 100%;margin-bottom: 5px;">
          <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4 style="color:rgb(3, 39, 36) ;text-align: center;">Diagnostic</h4>
              <hr/>
              <p>Avec Mecano, roulez en toute sécurité avec notre gamme de diagnostics spécialisés : freinage, échappement, système d'éclairage...</p>
              <div class="portfolio-links">
                <a href="../../../assets/images/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" style="border: rgba(11, 120, 192, 0.404) solid 3px; border-radius: 10px;padding: 3px;min-height: 100%;margin-bottom: 5px">
          <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4 style="color:rgb(3, 39, 36) ;text-align: center;">Réparation</h4>
              <hr/>
              <p>
                Nous pouvons réparer divers éléments mécaniques : système d’injection, système de refroidissement, joint de culasse, etc. Ayant plus de 30 ans d’expérience en mécanique générale, nous mettons tout en œuvre pour réaliser un travail de qualité.</p>
              <div class="portfolio-links">
                <a href="../../../assets/images/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 3"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app" style="border: rgba(11, 120, 192, 0.404) solid 3px; border-radius: 10px;padding: 3px;min-height: 100%;margin-bottom: 5px;">
          <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4 style="color:rgb(3, 39, 36) ;text-align: center;">Vidange</h4>
              <hr/>
              <p>Découvrez nos différents forfaits vidange et révision pour votre voiture dont MaRévision, un entretien sur-mesure par nos mécaniciens experimenté</p>
              <div class="portfolio-links">
                <a href="../../../assets/images/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 2"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card" style="border: rgba(11, 120, 192, 0.404) solid 3px; border-radius: 10px;padding: 3px;min-height: 100%; margin-bottom: 5px;">
          <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4 style="color:rgb(3, 39, 36) ;text-align: center;">Pneumatic</h4>
              <hr/>
              <p>On vous propose différentes prestations dans la réparation d'une crevaison d'un pneumatique avec roue déposée ou roue sur le vehicule. Partenaire avec Bridgestone, nos services sont les meilleurs dans ce domaine.</p>
              <div class="portfolio-links">
                <a href="../../../assets/images/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Card 2"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web" style="border: rgba(11, 120, 192, 0.404) solid 3px; border-radius: 10px;padding: 3px;min-height: 100%;margin-bottom: 5px;">
          <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4 style="color:rgb(3, 39, 36) ;text-align: center;">Vente de pièce</h4>
              <hr/>
              <p>Leader des pièces détachées auto neuves et d'origine au meilleur prix, n'hésitez pas à nos contacter pour vos recherches de pièces.</p>
              <div class="portfolio-links">
                <a href="../../../assets/images/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Web 2"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app" style="border: rgba(11, 120, 192, 0.404) solid 3px; border-radius: 10px;padding: 3px;min-height: 100%;margin-bottom: 5px;">
          <div class="portfolio-wrap">
            <img src="../../../assets/images/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4 style="color:rgb(3, 39, 36) ; text-align: center;">Dépanage</h4>
              <hr/>
              <p>Nos ateliers assurent aussi le dépannage de votre véhicule en journée pendant les heures d'ouverture. Nous effectuons également le remorquage de votre véhicule 24h/24 7j/7. </p>
              <div class="portfolio-links">
                <a href="../../../assets/images/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 3"><i class="bx bx-plus"></i></a>
                <a href="#" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Portfolio Section -->

</main>
