<style>
    .main-slider{
    padding-top: 0px;
  }
    .site-footer
    {
      background-color:#26272b;
      padding:45px 0 20px;
      font-size:15px;
      line-height:24px;
      color:#737373;
    }
    .site-footer hr
    {
      border-top-color:#bbb;
      opacity:0.5
    }
    .site-footer hr.small
    {
      margin:20px 0
    }
    .site-footer h6
    {
      color:#fff;
      font-size:16px;
      text-transform:uppercase;
      margin-top:5px;
      letter-spacing:2px
    }
    .site-footer a
    {
      color:#737373;
    }
    .site-footer a:hover
    {
      color:#3366cc;
      text-decoration:none;
    }
    .footer-links
    {
      padding-left:0;
      list-style:none
    }
    .footer-links li
    {
      display:block
    }
    .footer-links a
    {
      color:#737373
    }
    .footer-links a:active,.footer-links a:focus,.footer-links a:hover
    {
      color:#3366cc;
      text-decoration:none;
    }
    .footer-links.inline li
    {
      display:inline-block
    }
    .site-footer .social-icons
    {
      text-align:right
    }
    .site-footer .social-icons a
    {
      width:40px;
      height:40px;
      line-height:40px;
      margin-left:6px;
      margin-right:0;
      border-radius:100%;
      background-color:#33353d
    }
    .copyright-text
    {
      margin:0
    }
    @media (max-width:991px)
    {
      .site-footer [class^=col-]
      {
        margin-bottom:30px
      }
    }
    @media (max-width:767px)
    {
      .site-footer
      {
        padding-bottom:0
      }
      .site-footer .copyright-text,.site-footer .social-icons
      {
        text-align:center
      }
    }
    .social-icons
    {
      padding-left:0;
      margin-bottom:0;
      list-style:none
    }
    .social-icons li
    {
      display:inline-block;
      margin-bottom:4px
    }
    .social-icons li.title
    {
      margin-right:15px;
      text-transform:uppercase;
      color:#96a2b2;
      font-weight:700;
      font-size:13px
    }
    .social-icons a{
      background-color:#eceeef;
      color:#818a91;
      font-size:16px;
      display:inline-block;
      line-height:44px;
      width:44px;
      height:44px;
      text-align:center;
      margin-right:8px;
      border-radius:100%;
      -webkit-transition:all .2s linear;
      -o-transition:all .2s linear;
      transition:all .2s linear
    }
    .social-icons a:active,.social-icons a:focus,.social-icons a:hover
    {
      color:#fff;
      background-color:#29aafe
    }
    .social-icons.size-sm a
    {
      line-height:34px;
      height:34px;
      width:34px;
      font-size:14px
    }
    .social-icons a.facebook:hover
    {
      background-color:#3b5998
    }
    .social-icons a.twitter:hover
    {
      background-color:#00aced
    }
    .social-icons a.linkedin:hover
    {
      background-color:#007bb6
    }
    .social-icons a.dribbble:hover
    {
      background-color:#ea4c89
    }
    @media (max-width:767px)
    {
      .social-icons li.title
      {
        display:block;
        margin-right:0;
        font-weight:600
      }
    }

    /*end-footer*/
</style>
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>About-us</h6>
          <!-- <p class="text-justify">Nous offrons une gamme complète de services de garage aux propriétaires de véhicules situés dans la région de Tucson. Tous les services mécaniques sont effectués par des mécaniciens hautement qualifiés. Nous pouvons gérer n'importe quel problème de voiture.

            Nous offrons une gamme complète de services de garage aux propriétaires de véhicules à Tucson. Nos professionnels savent comment gérer une large gamme de services automobiles. Que vous conduisiez une voiture de tourisme, un camion de taille moyenne ou un VUS, nos mécaniciens s'efforcent de s'assurer que votre véhicule fonctionnera au mieux avant de quitter notre atelier automobile. Que vous conduisiez un camion de taille moyenne, une voiture de tourisme ou un VUS, nos mécaniciens s'efforcent d'assurer
            
            </p> -->
            <ul class="footer-links">
              <li><a href="">Andoharanofotsy </a></li>
              <li><a href=""> Antananarivo 102</a></li>
              <li><a href="">Mobile     :  034 578 926</a></li>
              <li><a href="">Assistance :  034 578 936</a></li>
              <li><a href="">Email      : sgarage@gmail.com</a></li>
              <li><a href="">Contactez-nous</a></li>
            </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Nos services</h6>
          <ul class="footer-links">
            <li><a href="http://scanfcode.com/category/c-language/">Anti démarrage</a></li>
            <li><a href="http://scanfcode.com/category/front-end-development/">Réparation Compteur kilométrique</a></li>
            <li><a href="http://scanfcode.com/category/back-end-development/">Réparation Colonne direction</a></li>
            <li><a href="http://scanfcode.com/category/java-programming-language/">Reprogrammation puissance moteur</a></li>
            <li><a href="http://scanfcode.com/category/android/">Filtre à particules</a></li>
            <li><a href="http://scanfcode.com/category/templates/">Adblue</a></li>
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a [routerLink]="['about-us']">A propos</a></li>
            <li><a [routerLink]="['contact']" >Contactez-nous</a></li>
            <li><a [routerLink]="['terme-condition']">Termes et condition</a></li>
            <li><a [routerLink]="['privacy']">Politique de confidentialité</a></li>
            
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2023 All Rights Reserved by 
       <a href="#">Andrianjafy Baovola Santatra | Ranaivoson Valisoa</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>


<div id="scroll-to-top" class="scroll-to-top">
  <span>
    <i class="fa fa-chevron-up"></i>
  </span>
</div><!-- /#scroll-to-top -->




<!-- Include jQuery Js -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<!-- Include jQuery Js -->
<script>window.jQuery || document.write('<script src="assets/js/jquery-1.11.2.min.js"><\/script>')</script>
<!-- Include WOW Min Js -->
<script src="./assets/assets/js/wow.min.js"></script>
<!-- Google Maps Script -->
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<!-- Gmap3.js For Static Maps -->
<script src="./assets/assets/js/gmap3.js"></script>
<!-- Include Waypoint Js -->
<script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<!-- Include Ajax MailChimp Js -->
<script src="./assets/assets/js/jquery.ajaxchimp.min.js"></script>
  <!-- Include Custom Js </-->
<script src="./assets/assets/js/custom.min.js"></script>


<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-63948535-1', 'auto');
ga('send', 'pageview');

</script>


